/* Navbar.css */

.navbar {
  background: #1E2A38; /* Dark blue background */
  padding: 15px 20px;
  border-bottom: 2px solid #394B5F; /* Darker blue border */
  text-align: center;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

/* Hover effect */
.nav-link:hover {
  color: #67B2FF; /* Change the color on hover */
}
